{{define "footer"}}
</div>
  </main>
  <style>
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  </style>
  <footer>
    <div class="bg-dark py-2 text-center text-white">
      <p>&copy 2025 <a href="/" class="text-reset" style="text-decoration: none;">抖音商城</a></p>
      <div class="container text-center">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a href="#" class="text-reset">广告投放</a></li>
          <li class="list-inline-item"><a href="#" class="text-reset">用户服务协议</a></li>
          <li class="list-inline-item"><a href="#" class="text-reset">隐私政策</a></li>
          <li class="list-inline-item"><a href="#" class="text-reset">账号找回</a></li>
          <li class="list-inline-item"><a href="#" class="text-reset">联系我们</a></li>
          <li class="list-inline-item"><a href="#" class="text-reset">加入我们</a></li>
          <li class="list-inline-item"><a href="#" class="text-reset">营业执照</a></li>
          <li class="list-inline-item"><a href="#" class="text-reset">友情链接</a></li>
          <li class="list-inline-item"><a href="#" class="text-reset">站点地图</a></li>
          <li class="list-inline-item"><a href="#" class="text-reset">下载抖音</a></li>
          <li class="list-inline-item"><a href="#" class="text-reset">抖音电商</a></li>
        </ul>
      </div>
    </div>
  </footer>
<script src="/static/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
{{end}}